-- phpMyAdmin SQL Dump
-- version 5.2.0
-- https://www.phpmyadmin.net/
--
-- Host: localhost:3306
-- Generation Time: Jan 02, 2026 at 03:58 AM
-- Server version: 8.0.30
-- PHP Version: 8.4.14

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: ktp_laravel
--

-- --------------------------------------------------------

--
-- Table structure for table cache
--

CREATE TABLE cache (
  key varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  value text COLLATE utf8mb4_unicode_ci NOT NULL,
  expiration int NOT NULL
) 

-- --------------------------------------------------------

--
-- Table structure for table cache_locks
--

CREATE TABLE cache_locks (
  key varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  owner varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  expiration int NOT NULL
) 

-- --------------------------------------------------------

--
-- Table structure for table failed_jobs
--

CREATE TABLE failed_jobs (
  id bigint  NOT NULL,
  uuid varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  connection text COLLATE utf8mb4_unicode_ci NOT NULL,
  queue text COLLATE utf8mb4_unicode_ci NOT NULL,
  payload longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  exception longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  failed_at timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP
) 

-- --------------------------------------------------------

--
-- Table structure for table jobs
--

CREATE TABLE jobs (
  id bigint  NOT NULL,
  queue varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  payload longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  attempts tinyint  NOT NULL,
  reserved_at int  DEFAULT NULL,
  available_at int  NOT NULL,
  created_at int  NOT NULL
) 

-- --------------------------------------------------------

--
-- Table structure for table job_batches
--

CREATE TABLE job_batches (
  id varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  name varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  total_jobs int NOT NULL,
  pending_jobs int NOT NULL,
  failed_jobs int NOT NULL,
  failed_job_ids longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  options text COLLATE utf8mb4_unicode_ci,
  cancelled_at int DEFAULT NULL,
  created_at int NOT NULL,
  finished_at int DEFAULT NULL
) 

-- --------------------------------------------------------

--
-- Table structure for table ktp_pengambilan
--

CREATE TABLE ktp_pengambilan (
  id bigint  NOT NULL,
  nama_pemohon varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  kecamatan varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  no_hp_pengambil varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  foto_bukti varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  keterangan text COLLATE utf8mb4_unicode_ci,
  keterangan_ikd varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  tanggal_ambil timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL
) 

--
-- Dumping data for table ktp_pengambilan
--


-- --------------------------------------------------------

--
-- Table structure for table ktp_prr
--

CREATE TABLE ktp_prr (
  id bigint  NOT NULL,
  nama_pemohon varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  no_hp varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  kecamatan varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  keterangan varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  keterangan_pengambilan varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  nama_pengambil varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  status varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Diproses',
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL
) 

--
-- Dumping data for table ktp_prr
--


-- --------------------------------------------------------

--
-- Table structure for table migrations
--

CREATE TABLE migrations (
  id int  NOT NULL,
  migration varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  batch int NOT NULL
) 

--
-- Dumping data for table migrations
--


-- --------------------------------------------------------

--
-- Table structure for table password_reset_tokens
--

CREATE TABLE password_reset_tokens (
  email varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  token varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  created_at timestamp NULL DEFAULT NULL
) 

-- --------------------------------------------------------

--
-- Table structure for table sessions
--

CREATE TABLE sessions (
  id varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  user_id bigint  DEFAULT NULL,
  ip_address varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  user_agent text COLLATE utf8mb4_unicode_ci,
  payload longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  last_activity int NOT NULL
) 

--
-- Dumping data for table sessions
--


-- --------------------------------------------------------

--
-- Table structure for table users
--

CREATE TABLE users (
  id bigint  NOT NULL,
  username varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  role varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  password varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  remember_token varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  created_at timestamp NULL DEFAULT NULL,
  updated_at timestamp NULL DEFAULT NULL
) 

--
-- Dumping data for table users
--

INSERT INTO users (id, username, role, password, remember_token, created_at, updated_at) VALUES
(1, 'admin', 'admin', '$2y$12$C2UNNQEuWgPeCJkxoBNFu.N27srIj0XDsR45sZR.jZvtxC7xrEW4y', NULL, '2025-12-24 00:11:29', '2025-12-24 00:11:29'),
(2, 'admin2', 'admin', '$2y$12$PVGXMn9Rnj2Egg6FGZTyd.FPUlU16qzYy01ZWO1/HWjf0q0I/Ec2m', NULL, '2025-12-24 00:12:56', '2025-12-24 00:12:56');

--
-- Indexes for dumped tables
--

--
-- Indexes for table cache
--
ALTER TABLE cache
  ADD PRIMARY KEY (key);

--
-- Indexes for table cache_locks
--
ALTER TABLE cache_locks
  ADD PRIMARY KEY (key);

--
-- Indexes for table failed_jobs
--
ALTER TABLE failed_jobs
  ADD PRIMARY KEY (id),
  ADD UNIQUE KEY failed_jobs_uuid_unique (uuid);

--
-- Indexes for table jobs
--
ALTER TABLE jobs
  ADD PRIMARY KEY (id),
  ADD KEY jobs_queue_index (queue);

--
-- Indexes for table job_batches
--
ALTER TABLE job_batches
  ADD PRIMARY KEY (id);

--
-- Indexes for table ktp_pengambilan
--
ALTER TABLE ktp_pengambilan
  ADD PRIMARY KEY (id);

--
-- Indexes for table ktp_prr
--
ALTER TABLE ktp_prr
  ADD PRIMARY KEY (id);

--
-- Indexes for table migrations
--
ALTER TABLE migrations
  ADD PRIMARY KEY (id);

--
-- Indexes for table password_reset_tokens
--
ALTER TABLE password_reset_tokens
  ADD PRIMARY KEY (email);

--
-- Indexes for table sessions
--
ALTER TABLE sessions
  ADD PRIMARY KEY (id),
  ADD KEY sessions_user_id_index (user_id),
  ADD KEY sessions_last_activity_index (last_activity);

--
-- Indexes for table users
--
ALTER TABLE users
  ADD PRIMARY KEY (id),
  ADD UNIQUE KEY users_username_unique (username);

--
-- SERIAL for dumped tables
--

--
-- SERIAL for table failed_jobs
--
ALTER TABLE failed_jobs
  MODIFY id bigint  NOT NULL SERIAL;

--
-- SERIAL for table jobs
--
ALTER TABLE jobs
  MODIFY id bigint  NOT NULL SERIAL;

--
-- SERIAL for table ktp_pengambilan
--
ALTER TABLE ktp_pengambilan
  MODIFY id bigint  NOT NULL SERIAL, SERIAL=124;

--
-- SERIAL for table ktp_prr
--
ALTER TABLE ktp_prr
  MODIFY id bigint  NOT NULL SERIAL, SERIAL=152;

--
-- SERIAL for table migrations
--
ALTER TABLE migrations
  MODIFY id int  NOT NULL SERIAL, SERIAL=15;

--
-- SERIAL for table users
--
ALTER TABLE users
  MODIFY id bigint  NOT NULL SERIAL, SERIAL=3;
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
